:root {
  --color-primary: #000;
  --navbarColor: #e14d2a;
  --main-color: #d1411e;
  --color-white: #fff;
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;

  --color-grey-dark-1: #73777b;
  --color-grey-dark-2: #112b3c;

  --soft-black: #414a4c;

  --color-laser: #cca871;

  --font-primary: "Nunito", sans-serif;

  /* RESPONSIVE BREAKPOINTS */
  --bp-largest: 75em; /* 1200px*/
  --bp-large: 62.5em; /* 1000px*/
  --bp-medium: 50em; /* 800px;*/
  --bp-small: 31em; /* 600px;*/
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-weight: 300;
  line-height: 1.6;
}
