:root {
  --color-primary: #000;
  --navbarColor: #e14d2a;
  --main-color: #d1411e;
  --color-white: #fff;

  --font-primary: "Nunito", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-weight: 300;
  line-height: 1.6;
}
