.layout {
  display: grid;
  grid-template-rows: 90vh min-content;
  grid-template-columns: repeat(
    8,
    [col-start] minmax(min-content, max-content) [col-end]
  );
  grid-row-gap: 8rem;
  overflow-y: hidden;
}

.adminBtn {
  position: absolute;
  top: 92vh;
  left: 1rem;
}
