.layout {
  display: grid;
  grid-template-rows: 90vh max-content;
  grid-template-columns: repeat(
    8,
    [col-start] minmax(min-content, 25rem) [col-end]
  );
  grid-gap: 5rem;
  overflow-y: hidden;
}
