.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 5rem;
  background-color: var(--navbarColor);
  position: sticky;
  top: 0;
}

.navItem {
  flex: 1;
  display: flex;
  align-items: center;
}

.navItem:nth-child(2) {
  flex: 3;
}

.navItem:nth-child(3) {
  justify-content: flex-end;
}

.callItem {
  background-color: var(--color-white);
  border-radius: 50%;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
}

.texts {
  margin-left: 2rem;
  color: var(--color-white);
}

.text:first-child {
  font-size: 1.2rem;
  font-weight: 500;
}

.text:last-child {
  font-size: 2rem;
  font-weight: bold;
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 10rem; */
  list-style: none;
  color: var(--color-white);
}

.listItem {
  margin: 2rem;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
}

.cart {
  display: flex;
  position: relative;
  cursor: pointer;
}

.counter {
  position: absolute;
  left: 2rem;
  bottom: 1.4rem;
  font-size: 1.5rem;
  background-color: var(--color-white);
  padding: 0.6rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.counter > div {
  transform: translateY(-4px);
  text-align: center;
  font-weight: 500;
  color: var(--navbarColor);
}
