.container {
  display: flex;
  justify-content: center;
  padding: 7rem;
  margin-top: 10vh;
  height: 50vh;
  background-color: var(--color-white);
}

.tableContainer {
  width: 100%;
  margin-bottom: 5rem;
  border-spacing: 2rem;
  width: max-content;
}

.shippingContainer {
  flex: 2;
}

.row:last-child {
  display: flex;
  justify-content: space-around;
}

.row > th {
  font-size: 1.5rem;
}

.done {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inProgress {
  display: flex;
  flex-direction: column;
  align-items: center;

  animation: inProgress 1.5s ease infinite alternate;
}

@keyframes inProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ship {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.3;
}

.ship .checkedIcon,
.inProgress .checkedIcon {
  display: none;
}

.orderId,
.customerName,
.address,
.total {
  font-size: 1.2rem;
  font-weight: 400;
}

.cartContainer {
  flex: 1;
  align-self: center;
}

.wrapper {
  width: 90%;
  max-height: 300px;
  background-color: var(--soft-black);
  color: var(--color-white);
  padding: 1rem 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartContainer {
  flex: 1;
  max-height: 24rem;
  background-color: var(--color-grey-dark-1);
  color: var(--color-white);
  padding: 3rem;
}

.cartWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.lastDetails {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.checkoutBtn {
  height: 4rem;
  width: 100%;
  padding: 0.7rem 2rem;
  border: none;
  background-color: var(--color-white);
  color: var(--color-pizza-size);
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  transition: all 0.2s;
}

.checkoutBtn div {
  transition: margin-left 0.5s;
  margin-left: 0.2rem;
}

.checkoutBtn:active {
  transform: translateY(5px);
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
