.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;

  background: rgba(209, 65, 30, 0.16);
  border-radius: 1.6rem;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(209, 65, 30, 0.78);
}

.pizzaTitle {
  color: var(--main-color);
}

.pizzaPrice {
  color: var(--color-grey-dark-2);
}

.pizzaDescription {
  height: 5rem;
  color: var(--color-grey-dark-1);
}

.imgWrapper {
  transition: all 0.5s;
  margin-bottom: 3rem;
}

.container .imgWrapper:hover {
  transform: scale(1.4);
}
