.container {
  background-color: var(--color-white);
  grid-column: 2 / -2;
  margin-bottom: 10rem;

  display: grid;
  grid-template-columns: repeat(autofit, minmax(10rem, 1fr));
}

.container h1 {
  margin-bottom: 2rem;
}

.container p,
.container h1 {
  font-size: 1.7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;
  margin-bottom: 5rem;
}

.container .pizzaList {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3.5rem;
}
